.heading {
    text-align: center;
}

.albumslist {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 17.5%;
    gap: 10px;
    max-width: 63vw; 
    margin-bottom: 20px;
}

.albumslist h1 {
    font-size: large;
    color: white;
    background-color: crimson;
    padding: 5px;
}

.albumslist h1:hover {
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    color: crimson;
    background-color: white;
}